<h1>Edit Figure: <%= @figure.name %> </h1>
 
 <form method="post" action="/figures/<%= @figure.id %>">
   <input id="hidden" type="hidden" name="_method" value="patch">
   <input type="text" name="figure[name]" id="figure_name">
 
 <% Title.all.each do |title| %>
     <p><%= title.name %>
     <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"></p>
   <% end %>
   <h3>Add New Title</h3>
     <label for="new_title">New Title:</label>
     <input type="text" name="title[name]" id="new_title"> 
 
   <% Landmark.all.each do |landmark| %>
     <p><%= landmark.name %>
     <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"></p>
   <% end %>
     <h3>Add new landmark</h3>
       <label for="new_landmark">New Landmark:</label>
       <input type="text" name="landmark[name]" id="new_landmark">
 
   <button type="submit">Edit Figure</button>
 
 </form> 